{% load static %}
{% load widget_tweaks %}

<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_contact_item"><div class="top_bar_icon"><img src="{% static 'images/phone.png' %}" alt=""></div>0854354328</div>
						<div class="top_bar_contact_item"><div class="top_bar_icon"><img src="{% static 'images/mail.png' %}" alt=""></div><a href="{% static 'mailto:dthanhtrung2811@gmail.com' %}">dthanhtrung2811@gmail.com</a></div>
						<div class="top_bar_content ml-auto">
							<div class="top_bar_user">
								<div class="user_icon"><img src="images/user.svg" alt=""></div>
								<div><a href="{% url 'detailuser' %}">Xin chào: <b>{{tenDG}}</b></a></div>
								<div><a href="{% url 'begin1' %}">Sign out</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Main -->

		<div class="header_main">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-2 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo"><a href="#">Smart Library</a></div>
						</div>
					</div>

					<!-- Search -->


					<!-- Mượn sách -->
					<div class="col-lg-7 col-12 order-lg-3 order-2 text-lg-left text-right">
						<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
							<div class="wishlist d-flex flex-row align-items-center justify-content-end">
								<div class="wishlist_icon"><img src="{% static 'images/muontra.png' %}" alt=""></div>
								<div class="wishlist_content">
									<div class="wishlist_text"><a href="{% url 'muonsach' %}"><div ><b>Mượn sách</b></div></a></div>
								</div>
							</div>

							<!-- Trả sách -->
							<div class="cart">
								<div class="cart_container d-flex flex-row align-items-center justify-content-end">
									<div class="cart_icon">
										<img src="{% static 'images/muontra.png' %}" alt="">
									</div>
									<div class="cart_content">
										<div class="cart_text"><a href="{% url 'trasach' %}"><div ><b>Trả sách</b></div></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="main_nav_content d-flex flex-row">

							<!-- Categories Menu -->

							<div class="cat_menu_container">
								<div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
									<div class="cat_burger"><span></span><span></span><span></span></div>
									<div class="cat_menu_text">Thể loại</div>
								</div>

								<ul class="cat_menu">
									<li><a href="/book_giaotrinh/"><b>Giáo trình</b><i class="fas fa-chevron-right ml-auto"></i></a></li>
									<li><a href="/book_vanhoc/"><b>Văn học nghệ thuật</b><i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/book_tamly/"><b>Tâm lý, tâm linh, tôn giáo</b><i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/book_truyen/"><b>Truyện, tiểu thuyết</b><i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/book_vanhoa/"><b>Văn hóa xã hội - Lịch sử</b><i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/book_khcn/"><b>Khoa học công nghệ - Kinh tế</b><i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/book_chinhtri/"><b>Chính trị - Pháp luật</b><i class="fas fa-chevron-right"></i></a></li>
								</ul>
							</div>

							<!-- Main Nav Menu -->

							<div class="main_nav_menu ml-auto">
								<ul class="standard_dropdown main_nav_dropdown">
									<li><a href="{% url 'book' %}">Home<i class="fas fa-chevron-down"></i></a></li>
									<li class="hassubs">
										<a href="#">Pages<i class="fas fa-chevron-down"></i></a>
										<ul>
											<li><a href="{% url 'book' %}">Sách<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="{% url 'muonsach' %}">Mượn sách<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="{% url 'trasach' %}">Trả sách<i class="fas fa-chevron-down"></i></a></li>
											<li><a href="contact.html">Liên hệ<i class="fas fa-chevron-down"></i></a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact<i class="fas fa-chevron-down"></i></a></li>
								</ul>
							</div>

							<!-- Menu Trigger -->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>

		<!-- Menu -->

		<div class="page_menu">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="page_menu_content">

							<div class="page_menu_search">

							</div>
							<ul class="page_menu_nav">
								<li class="page_menu_item">
									<a href="{% url 'book' %}">Home<i class="fa fa-angle-down"></i></a>
								<li class="page_menu_item"><a href="{% url 'muonsach' %}">Mượn sách<i class="fa fa-angle-down"></i></a></li>
								<li class="page_menu_item"><a href="{% url 'trasach' %}">Trả sách<i class="fa fa-angle-down"></i></a></li>

								<li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
							</ul>
							<div class="menu_contact">
								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="{% static 'images/phone_white.png' %}" alt=""></div>0854354328</div>
								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="{% static 'images/mail_white.png' %}" alt=""></div><a href="mailto:dthanhtrung2811@gmail.com">dthanhtrung2811@gmail.com</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</header>
